<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>StudyFlow</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap"
          rel="stylesheet">
</head>

<body>

<!-- NAVIGATION -->
<nav>

    <a href="{% url 'home' %}">Home</a>

    {% if user.is_authenticated %}

        <span style="color: white; font-weight: 500;">
            Hello, {{ user.username }}
        </span>

        <a href="{% url 'dashboard' %}">Dashboard</a>
        <a href="{% url 'subjects' %}">Subjects</a>
        <a href="{% url 'tasks' %}">Tasks</a>
        <a href="{% url 'notes' %}">Notes</a>

        <a href="/users/logout/">Logout</a>

    {% else %}

        <a href="/users/signup/">Signup</a>
        <a href="/users/login/">Login</a>

    {% endif %}

</nav>

<!-- MESSAGES -->
{% if messages %}
    <div class="container">
        {% for message in messages %}
            <div class="message">
                {{ message }}
            </div>
        {% endfor %}
    </div>
{% endif %}

<!-- MAIN CONTENT -->
<main class="container">
    {% block content %}
    {% endblock %}
</main>

</body>
</html>