{% extends 'base.html' %}

{% block content %}

<div class="card" style="text-align: center; padding: 50px;">

    <h1 style="font-size: 42px; margin-bottom: 10px;">
        StudyFlow
    </h1>

    <p style="font-size: 18px; opacity: 0.8; margin-bottom: 30px;">
        Manage your study life efficiently. Organize tasks, track progress, and stay consistent every day.
    </p>

    {% if user.is_authenticated %}

        <a href="{% url 'dashboard' %}">
            <button>
                Go to Dashboard
            </button>
        </a>

    {% else %}

        <a href="{% url 'login' %}">
            <button>
                Login to Continue
            </button>
        </a>

        <a href="{% url 'signup' %}">
            <button style="margin-left: 10px; background-color: #5c433d;">
                Create Account
            </button>
        </a>

    {% endif %}

</div>

{% endblock %}