{% extends 'base.html' %}

{% block content %}

<h2>Notes</h2>

<!-- ADD NOTE -->
<div class="card">

    <h3>Add New Note</h3>

    <form method="POST">
        {% csrf_token %}

        {{ form.as_p }}

        <button type="submit">
            Add Note
        </button>
    </form>

</div>

<!-- NOTES LIST -->
<h3>Your Notes</h3>

{% for note in notes %}

    <div class="card">

        <h3>{{ note.title }}</h3>

        <p>{{ note.content }}</p>

        <small>Subject: {{ note.subject.name }}</small>

    </div>

{% empty %}

    <div class="card">
        <p>No notes added yet.</p>
    </div>

{% endfor %}

{% endblock %}