{% extends 'base.html' %}

{% block content %}

<h2>Your Subjects</h2>

<!-- ADD SUBJECT -->
<div class="card">

    <h3>Add New Subject</h3>

    <form method="POST">
        {% csrf_token %}

        {{ form.as_p }}

        <button type="submit">
            Add Subject
        </button>
    </form>

</div>

<!-- SUBJECT LIST -->
<h3>All Subjects</h3>

{% for subject in subjects %}

    <div class="card">

        <h3>{{ subject.name }}</h3>

        <div class="task-actions">

            <a href="{% url 'edit_subject' subject.id %}">
                Edit
            </a>

            <a href="{% url 'delete_subject' subject.id %}">
                Delete
            </a>

        </div>

    </div>

{% empty %}

    <div class="card">
        <p>No subjects added yet.</p>
    </div>

{% endfor %}

{% endblock %}