{% extends 'base.html' %}

{% block content %}

<h2>Your Tasks</h2>

<form method="POST">

    {% csrf_token %}

    {{ form.as_p }}

    <button type="submit">Add Task</button>

</form>

<hr>

<h3>Pending Tasks</h3>

<ul>

    {% for task in pending_tasks %}

        <li>

            ✘ {{ task.title }}

            ({{ task.subject.name }})

            <a href="/tasks/toggle/{{ task.id }}/">
                Complete
            </a>

            <a href="/tasks/delete/{{ task.id }}/">
                Delete
            </a>

        </li>

    {% empty %}

        <li>No pending tasks.</li>

    {% endfor %}

</ul>

<hr>

<h3>Completed Tasks</h3>

<ul>

    {% for task in completed_tasks %}

        <li>

            ✔ <s>{{ task.title }}</s>

            ({{ task.subject.name }})

            <a href="/tasks/toggle/{{ task.id }}/">
                Undo
            </a>

            <a href="/tasks/delete/{{ task.id }}/">
                Delete
            </a>

        </li>

    {% empty %}

        <li>No completed tasks.</li>

    {% endfor %}

</ul>

{% endblock %}